<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div id="top">
  textify says hello
  </div>
  <script type="text/javascript">
  var person = prompt("Enter your phone number","");
  var loc = window.location;
  let hsStart = 'http://'
  if (loc.protocol == 'https:'){
      hsStart = 'https://'
  }
  let address = hsStart + loc.host + '/home/' + person + '/'
  console.log(address)
  location.replace(address)

  </script>
  </body>
</html>
